<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQR91i6I1dMG8z1P8Z1AgHRuRA9BCBWHA</string>
	<key>GCM_SENDER_ID</key>
	<string>179750771032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finvest.finvest</string>
	<key>PROJECT_ID</key>
	<string>finvest-e4748</string>
	<key>STORAGE_BUCKET</key>
	<string>finvest-e4748.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179750771032:ios:bb92b257c8aebe5ac76d2d</string>
</dict>
</plist>